@import url('https://fonts.googleapis.com/css2?family=Combo&family=Gentium+Book+Plus&display=swap');


body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.nav {
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
    color: white;
    font-family: 'Combo', cursive;
    margin-right: 100px;
    font-size: 1.7rem;
}

.navBar {
    margin: auto;
}

.buttons {
    margin-left: 390px;
    margin-top: 10px;
    color:rgb(0, 136, 255);
    background-color: transparent;
    font-family: 'Gentium Book Plus', serif;
    border: none;
    font-size: small;
    width: 210px;
    text-align: center;

}

.buttons:hover {

    background-color:lightblue;
    color: #212529;
    border-radius: 50px;
    width: 240px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.item {

    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.item:hover {
    color: #212529;
    background-color: #ffffff;
    border-radius: 50px;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}

.image1 {
    margin-left: 700px;
    margin-top: 20px;
    height: 350px;
    width: 250px;
    z-index: 9;
}

.image2 {
    margin-top: -480px;
    margin-left: 330px;
    width: 350px;
    height: 250px;
}

.image3 {
    margin-top: -445px;
    margin-left: 60px;
    height: 350px;
    width: 250px;
    z-index: 9;
}

.image1f {
    margin-left: 700px;
    margin-top: 20px;
    height: 350px;
    width: 250px;
    z-index: 9;
}

.image2f {
    margin-top: -480px;
    margin-left: 330px;
    width: 350px;
    height: 250px;
}

.image3f {
    margin-top: -445px;
    margin-left: 60px;
    height: 350px;
    width: 250px;
    z-index: 9;
}

.float-parent-elementf {
    margin-top: -900px;
    width: 100%;
}

.float-parent-elementf {
    margin-top: -430px;
    width: 100%;
}

.float-child-element {
    width: 50%;
}

.btn-pos1 {
    background-color: white;
    border-radius: 50px;
    margin-left: 35.5rem;

}

.btn-pos2 {
    background-color: white;
    border-radius: 50px;
    margin-left: -510px;


}

.parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
}

.child {
    display: inline-block;
    
    padding: 1rem 1rem;
    vertical-align: middle;
}

.heading {
    font-family: 'Gentium Book Plus', serif;
    color:purple;
    margin: -130px 0 0 390px;
    text-align: center;
    width: fit-content;
    border: rgb(102, 0, 255) ridge 5px;
    font-size: large;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;

}